@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  position: relative;
  padding: 20px;
  min-height: 89vh; 
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  font-weight: 500;
  font-size: 1rem;
}