<!--Author: Madelief van Slooten-->
<section id="outerContainer">
  <section id="createPost">
    <section id="createPostTitle">
      <h2>Create Post</h2>
    </section>

    <section id="explainField">
      <p>
        To share your thoughts about your SDG project, or your other SDG
        business, please select an SDG, an Area of Expertise and write your
        thoughts! <br />
        Give your post an attractive title and post away!
      </p>
    </section>

    <form
      [formGroup]="createPostForm"
      (ngSubmit)="createPost()"
      id="createPostForm"
      novalidate
    >
      <section id="topSection">
        <section id="userInfo">
          <section id="userDetails">
            <img
              id="iconPlaceholder"
              src="../../../assets/icon.png"
              alt="icon"
            />
            <h2>Username</h2>
            <h3>Expertise</h3>
          </section>
        </section>

        <section id="expertiseField">
          <label for="areaOfExpertise">Area of Expertise* </label>
          <select
            formControlName="areaOfExpertise"
            id="areaOfExpertise"
            type="text"
          >
            <option
              *ngFor="let expertise of expertises; let itemIndex = index"
              [selected]="itemIndex == 0"
              [disabled]="itemIndex == 0"
            >
              {{ expertise }}
            </option>
          </select>
        </section>

        <section id="sdgField">
          <label for="sdg">SDG* </label>
          <select formControlName="sdg" id="sdg" type="text">
            <option
              *ngFor="let sdg of sdg | keyvalue; let itemIndex = index"
              [selected]="itemIndex == 1"
              [disabled]="itemIndex == 1"
            >
              {{ sdg.key }}
            </option>
          </select>
        </section>
      </section>

      <section id="bottomSection">
        <section id="descriptionField">
          <label for="description">What do you want to write about? </label>
          <textarea
            id="description"
            type="text"
            formControlName="description"
            maxlength="300"
            placeholder="Type some SDG thoughts..."
          ></textarea>
        </section>

        <section id="bottomRight">
          <section id="titleField">
            <label id="postTitle" for="title">Post Title</label>
            <input
              id="title"
              type="text"
              formControlName="title"
              maxlength="100"
              placeholder="Enter a title..."
            />
          </section>
          <section>
            <button type="button" id="quizButton" (click)="developmentPopup()">
              Add Quiz
            </button>
          </section>
        </section>
      </section>

      <button
        id="createPostButton"
        type="submit"
        [disabled]="!createPostForm.valid"
      >
        Post
      </button>
    </form>
  </section>
</section>
