<!--Author: Justin Plein -->
<section id="container">
  <section id="accountContent">
    <section id="title">
      <h2 id="title-item-1">Account</h2>
      <a routerLink="/post" id="create-post">Create Post</a>
    </section>
    <form
      [formGroup]="editUserProfileForm"
      (ngSubmit)="submitUserProfileData()"
      id="createPostForm"
      novalidate
    >
      <section id="topSection">
        <section id="userInfo">
          <img id="iconPlaceholder" src="../../../assets/icon.png" alt="icon" />
          <section id="userDetails">
            <h2>Username</h2>
            <h3>Expertise</h3>
          </section>
        </section>
        <section class="sdgs">
          <img src="../../../assets/sdg-13.png" alt="" />
          <img src="../../../assets/sdg-6.png" alt="" />
          <img src="../../../assets/sdg-5.png" alt="" />
        </section>
        <section id="retakeQuiz" (click)="developmentPopup()">Retake Quiz</section>
      </section>

      <section id="bottomSection">
        <section class="row">
          <section class="fullWidth">
            <label for="username"
              >Username<span class="required">*</span></label
            >
            <input
              id="username"
              type="text"
              formControlName="username"
              maxlength="50"
              placeholder="Enter a username..."
            />
            <section
              *ngIf="
                editUserProfileForm.controls['username'].errors &&
                editUserProfileForm.controls['username'].errors!['required']
              "
            ></section>
          </section>
          <section class="fullWidth">
            <label for="email">Email<span class="required">*</span></label>
            <input
              id="email"
              type="email"
              formControlName="email"
              maxlength="50"
              placeholder="Enter a email..."
            />
            <section
              *ngIf="
                editUserProfileForm.controls['email'].errors &&
                editUserProfileForm.controls['email'].errors!['required']
              "
            ></section>
          </section>
          <section class="fullWidth">
            <label for="areaOfExpertise"
              >Area of Expertise<span class="required">*</span></label
            >
            <select formControlName="areaOfExpertise" id="areaOfExpertise">
              <option
                *ngFor="let expertise of expertises; let itemIndex = index"
                [selected]="itemIndex == 0"
                [disabled]="itemIndex == 0"
              >
                {{ expertise }}
              </option>
            </select>
          </section>
        </section>
        <h3>Optional</h3>
        <section class="row">
          <section class="fullWidth">
            <label for="firstName">First Name</label>
            <input
              id="firstName"
              type="email"
              formControlName="firstName"
              maxlength="50"
              placeholder="Enter your first name..."
            />
          </section>
          <section class="fullWidth">
            <label for="lastName">Last Name</label>
            <input
              id="lastName"
              type="email"
              formControlName="lastName"
              maxlength="50"
              placeholder="Enter your last name..."
            />
          </section>
          <section class="fullWidth">
            <label for="education">Education</label>
            <input
              id="education"
              type="text"
              formControlName="education"
              maxlength="50"
              placeholder="Enter a education..."
            />
          </section>
          <section class="fullWidth">
            <label for="age">Age</label>
            <input
              id="age"
              type="text"
              formControlName="age"
              maxlength="50"
              placeholder="Enter your age..."
            />
          </section>
        </section>
        <h3>Change password</h3>
        <section class="row">
          <section class="fullWidth">
            <label for="oldPassword">Enter Old Password</label>
            <input
              id="oldPassword"
              type="password"
              formControlName="oldPassword"
              maxlength="50"
              placeholder="Enter your old password..."
            />
          </section>
          <section class="fullWidth">
            <label for="oldPassword">Enter New Password</label>
            <input
              id="newPassword"
              type="text"
              formControlName="newPassword"
              maxlength="50"
              placeholder="Enter your new password..."
            />
          </section>
          <section class="fullWidth">
            <label for="repeatNewPassword">Repeat New Password</label>
            <input
              id="repeatNewPassword"
              type="text"
              formControlName="repeatNewPassword"
              maxlength="50"
              placeholder="Repeat your new password..."
            />
          </section>
        </section>
      </section>

      <section id="buttons">
        <button id="saveButton" [disabled]="!editUserProfileForm.valid">
          Save
        </button>
        <button id="cancelButton" (click)="cancel($event)">Cancel</button>
      </section>
    </form>
  </section>
</section>
