<!-- 
 @author Sven Molenaar
 Login Component HTML
  -->

<section id="login">
  <section id="loginTitle">
    <h2>Welcome Back!</h2>
  </section>
  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section id="row1">
      <section id="emailField">
        <label for="email">Email-Adress </label>
        <input id="email" type="text" formControlName="emailAdress" required />
      </section>

      <section id="passwordField">
        <label id="passwordLabel" for="password"> Password </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          [type]="[passwordClicked ? 'text' : 'password']"
          required
        />
        <i
          id="togglePassword"
          class="far fa-eye"
          style="margin-left: -30px; cursor: pointer"
          [ngClass]="[passwordClicked ? 'far fa-eye' : 'far fa-eye-slash']"
          (click)="togglePassword()"
        ></i>
      </section>
    </section>

    <button id="loginButton" type="submit">Login</button>

    <section id="row2">
      <section id="linkField">
        <a routerLink="/register">Sign up here!</a>
        <a (click)="passwordPopup()">Forgot password?</a>
      </section>
    </section>
  </form>
</section>
