<!--Author Rowen Zaal -->
<section class="information">
  <section class="sdgImg">
    <img id="sdgGoals" src="./assets/sdg_logo.png" alt="sdg logo" />
  </section>
  <section class="whatIsSdg">
    <h2 id="infoTitle">What is a SDG?</h2>
    <h4 id="infoHeading">
      Welcome to our information page on the Sustainable Development Goals
      (SDGs).
    </h4>
    <p>
      Adopted by all United Nations Member States in 2015, the SDGs are a
      universal call to action to end poverty, protect the planet, and ensure
      that all people enjoy peace and prosperity by 2030. There are 17 SDGs with
      169 targets that cover a range of interconnected issues, including
      poverty, hunger, health, education, gender equality, clean water and
      sanitation, affordable and clean energy, decent work and economic growth,
      industry, innovation and infrastructure, reduced inequalities, sustainable
      cities and communities, responsible consumption and production, climate
      action, life below water, life on land, peace, justice and strong
      institutions, and partnerships for the goals. <br />
      On this website, you can find posts of people who are working with SDG's.
      You can also post something yourself! About an SDG project or other
      questions. You can add a quiz to your post to get feedback from other
      people and help others with their quiz questions!
    </p>
  </section>
  <section class="statistics">
    <h2 id="statsTitle">See what other students like!</h2>
    <img id="placeholder" src="./assets/statistics.png" alt="sdg statistics" />
  </section>
</section>
<section id="feedNews">
  <app-homepage-feed></app-homepage-feed>
  <app-news></app-news>
</section>
