<section id="information">
    <section id="sdg-gif">
        <img src="./assets/sdg_square.gif" alt="sdg-logos" id="gify"/>
    </section>
    <section id="informationText" >
        <h2 class>Sustainable Development Goals</h2>
        <pre>
Welcome to our information page on the Sustainable Development Goals (SDGs).
Adopted by all United Nations Member States in 2015, the SDGs are a universal call to action to end poverty,
protect the planet, and ensure that all people enjoy peace and prosperity by 2030.

There are 17 SDGs with 169 targets that cover a range of interconnected issues, including poverty, hunger,
health, education, gender equality, clean water and sanitation, affordable and clean energy,
decent work and economic growth, industry, innovation and infrastructure, reduced inequalities,
sustainable cities and communities, responsible consumption and production, climate action,
life below water, life on land, peace, justice and strong institutions, and partnerships for the goals.
On this page, you will find information on each SDG, its targets,
and what actions you can take to help achieve the SDGs. 
<span class="highlight">
    
Click any SDG to see more information!
</span></pre>
    </section>
</section>
<app-sdg-list></app-sdg-list>



